In [1]:
# Note: AHS survey must be in the same directory as this notebook

In [2]:
import pandas as pd

In [3]:
 # from http://www2.census.gov/programs-surveys/ahs/2019/AHS%202019%20National%20PUF%20v1.1%20CSV.zip
df = pd.read_csv('./household.csv')

In [4]:
# from https://www.census.gov/data-tools/demo/codebook/ahs/ahsdict.html
# query parameters:
#   survey year: 2019 national
#   topics/subtopics: geography, demographics, equipment and appliances, utilities, income, 
#   availability: PUF
relevant_col_df = pd.read_csv('./ahsdict_25FEB21_12_18_01_80.csv')

In [5]:
shared_cols = []
for var in relevant_col_df['Variable'].tolist():
    if var in df.columns:
        shared_cols.append(var)

shared_ahs = df[shared_cols]

In [6]:
for col in shared_ahs.columns:
    try:
        shared_ahs[col] = shared_ahs[col].str.split("'").str[1].tolist()
    except:
        continue
    shared_ahs[col].astype(str)

/Users/haltriedman/Code/python/rewiring_america/rewiring_america/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
shared_ahs

,DIVISION,OMB13CBSA,HEATTYPE,HEATFUEL,SUPP1HEAT,SUPP2HEAT,FIREPLACE,SOLAR,ACPRIMARY,ACSECNDRY,...,HHERRND,HINCP,FINCP,FS,ELECAMT,GASAMT,OILAMT,OTHERAMT,TRASHAMT,WATERAMT
0,5,37980,01,02,09,14,1,2,01,12,...,2,257000,257000,-6,230,30,0,0,30,80
1,1,99998,02,02,14,14,2,2,06,12,...,2,201000,201000,2,190,100,0,0,3,20
2,7,99998,01,02,14,14,4,-9,01,01,...,-6,-6,-6,-6,-6,-6,-6,-6,-6,-6
3,7,99998,01,02,14,14,2,2,01,12,...,2,66900,66900,2,100,60,0,0,10,3
4,4,99998,01,01,14,14,4,2,01,12,...,2,35000,35000,-6,2,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63180,3,99998,01,01,01,14,4,2,01,01,...,2,74000,74000,-6,90,40,200,0,3,240
63181,5,33100,03,01,14,14,4,2,01,12,...,2,207000,207000,-6,140,0,0,0,2,3
63182,5,99998,03,01,14,14,4,2,01,12,...,2,158100,158100,2,260,0,0,0,70,2
63183,5,33100,01,01,14,14,4,2,01,12,...,2,130200,130200,2,80,30,0,0,2,40
63184,5,12060,01,01,14,14,2,2,01,01,...,2,120000,120000,2,260,0,0,0,4,30

In [8]:
mapped_ahs = shared_ahs
for col in shared_ahs.columns:
    row = relevant_col_df.loc[relevant_col_df['Variable'] == col]
    desc = row['Description'].values[0]
    codes = row['Response Codes'].values[0].split('||')
    map_ = {}
    for code in codes:
        [k, v] = code.split(':', 1)
        if 'or' in k:
            [k1, k2] = k.split(' or ')
            k1 = k1.strip()
            k2 = k2.strip()
            map_[k1] = v
            map_[k2] = v
            continue
        k = k.strip()
        map_[k] = v
    mapped_ahs[col] = shared_ahs[col].map(map_).fillna(shared_ahs[col])

/Users/haltriedman/Code/python/rewiring_america/rewiring_america/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
mapped_ahs['HINCP'] = mapped_ahs['HINCP'].astype(int)
mapped_ahs['FINCP'] = mapped_ahs['FINCP'].astype(int)
mapped_ahs

/Users/haltriedman/Code/python/rewiring_america/rewiring_america/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/haltriedman/Code/python/rewiring_america/rewiring_america/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,DIVISION,OMB13CBSA,HEATTYPE,HEATFUEL,SUPP1HEAT,SUPP2HEAT,FIREPLACE,SOLAR,ACPRIMARY,ACSECNDRY,...,HHERRND,HINCP,FINCP,FS,ELECAMT,GASAMT,OILAMT,OTHERAMT,TRASHAMT,WATERAMT
0,South Atlantic,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Forced warm-air furnace,Piped gas,"Wood burning, pot belly, Franklin stove(s), o...",No secondary supplemental heating,"Has usable fireplace, considers it heating eq...",No,Electric powered central air conditioning system,No secondary air conditioning,...,No,257000,257000,Not applicable,230,30,0,0,30,80
1,New England,All other metropolitan areas,Steam or hot water system,Piped gas,No primary supplemental heating,No secondary supplemental heating,"Has usable fireplace, not considered heating ...",No,2 room air conditioners,No secondary air conditioning,...,No,201000,201000,No,190,100,0,0,3,20
2,West South Central,All other metropolitan areas,Forced warm-air furnace,Piped gas,No primary supplemental heating,No secondary supplemental heating,No usable fireplace,Not reported,Electric powered central air conditioning system,Secondary electric powered central air condit...,...,Not applicable,-6,-6,Not applicable,-6,-6,-6,-6,-6,-6
3,West South Central,All other metropolitan areas,Forced warm-air furnace,Piped gas,No primary supplemental heating,No secondary supplemental heating,"Has usable fireplace, not considered heating ...",No,Electric powered central air conditioning system,No secondary air conditioning,...,No,66900,66900,No,100,60,0,0,10,3
4,West North Central,All other metropolitan areas,Forced warm-air furnace,Electricity,No primary supplemental heating,No secondary supplemental heating,No usable fireplace,No,Electric powered central air conditioning system,No secondary air conditioning,...,No,35000,35000,Not applicable,2,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63180,East North Central,All other metropolitan areas,Forced warm-air furnace,Electricity,Electric or gas cookstove,No secondary supplemental heating,No usable fireplace,No,Electric powered central air conditioning system,Secondary electric powered central air condit...,...,No,74000,74000,Not applicable,90,40,200,0,3,240
63181,South Atlantic,"Miami-Fort Lauderdale-West Palm Beach, FL",Electric heat pump,Electricity,No primary supplemental heating,No secondary supplemental heating,No usable fireplace,No,Electric powered central air conditioning system,No secondary air conditioning,...,No,207000,207000,Not applicable,140,0,0,0,2,3
63182,South Atlantic,All other metropolitan areas,Electric heat pump,Electricity,No primary supplemental heating,No secondary supplemental heating,No usable fireplace,No,Electric powered central air conditioning system,No secondary air conditioning,...,No,158100,158100,No,260,0,0,0,70,2
63183,South Atlantic,"Miami-Fort Lauderdale-West Palm Beach, FL",Forced warm-air furnace,Electricity,No primary supplemental heating,No secondary supplemental heating,No usable fireplace,No,Electric powered central air conditioning system,No secondary air conditioning,...,No,130200,130200,No,80,30,0,0,2,40
63184,South Atlantic,"Atlanta-Sandy Springs-Roswell, GA",Forced warm-air furnace,Electricity,No primary supplemental heating,No secondary supplemental heating,"Has usable fireplace, not considered heating ...",No,Electric powered central air conditioning system,Secondary electric powered central air condit...,...,No,120000,120000,No,260,0,0,0,4,30

In [10]:
# Now that data is clean, start analysis.
income_bins = [0, 20000, 40000, 60000, 80000, 100000, 120000, 140000, float('inf')]
regions = ["National",
           " New England",
           " Middle Atlantic",
           " East North Central",
           " West North Central",
           " South Atlantic",
           " East South Central",
           " West South Central",
           " Mountain",
           " Pacific"]
modes_of_analysis = ['HEATTYPE',
                     'HEATFUEL',
                     'HOTWATER',
                     'COOKFUEL',
                     'DRYER']

In [44]:
# get percentage breakdowns for a type of fuel source
def percent_df(df, income_bins):
    percent_dict = {}
    for j, i in enumerate(income_bins):
        percent_list = []
        for row in df[i+1]:
            percent_list.append(row / df[i+1].sum())
        if j < len(income_bins) - 1:
            percent_dict[f'income ${i}-{income_bins[j+1]}'] = percent_list
#         else:
#             percent_dict[f'income ${i}+'] = percent_list
    return pd.DataFrame(percent_dict, index=df.index)

In [12]:
# Step 1.1: How many households are there in each income bracket?
mapped_ahs.HINCP.groupby(pd.cut(mapped_ahs.HINCP, income_bins)).size()

HINCP
(0.0, 20000.0]          9239
(20000.0, 40000.0]      9336
(40000.0, 60000.0]      7788
(60000.0, 80000.0]      6416
(80000.0, 100000.0]     4964
(100000.0, 120000.0]    3622
(120000.0, 140000.0]    2752
(140000.0, inf]         9228
Name: HINCP, dtype: int64

In [13]:
# Step 1.2: How many households are there total?
mapped_ahs.HINCP.groupby(pd.cut(mapped_ahs.HINCP, income_bins)).size().sum()

53345

In [45]:
def conduct_analysis(income_bins):
    analysis_dict = {}
    
    for region in regions:
        analysis_dict[region] = {}
        for mode in modes_of_analysis:
            analysis_df = pd.DataFrame()
            if region != "National":
                analysis_df = mapped_ahs.loc[mapped_ahs.DIVISION == region][['HINCP', mode]]
            else:
                analysis_df = mapped_ahs[['HINCP', mode]]
            analysis_groups = analysis_df.groupby([mode, pd.cut(analysis_df.HINCP, income_bins)]).size().unstack()
            analysis_groups_percent = percent_df(analysis_groups, income_bins)
            total_by_income = analysis_groups.sum(axis=1)
            
            analysis_dict[region][mode] = [analysis_groups, analysis_groups_percent, total_by_income]
    return analysis_dict

analysis_dict = conduct_analysis(income_bins)

In [15]:
# I've abstracted all of the logic from my analysis into a function and applied it programmatically. 
# Here's how to use this dict:
#   analysis_dict[<region>][<mode>][<0, 1, 2>]
#   regions: see the region list above. leading space is necessary as I haven't been able to get it to stop showing up.
#   mode: see mode list above.
#   <0, 1, 2>:
#        0 — raw counts of each category within each income bracket
#        1 — percentages of each category within each income bracket
#        2 — raw count of each category without income analysis

In [46]:
analysis_dict['National']['HOTWATER'][1]

,income $0-20000,income $20000-40000,income $40000-60000,income $60000-80000,income $80000-100000,income $100000-120000,income $120000-140000,income $140000-inf
HOTWATER,,,,,,,,
Has running hot water with LP gas water heater,0.023704,0.024743,0.024268,0.028211,0.029613,0.026505,0.030160,0.031426
Has running hot water with electric water heater,0.540535,0.509426,0.474063,0.443890,0.409952,0.390116,0.365189,0.283377
Has running hot water with fuel oil water heater,0.017859,0.017674,0.019517,0.021041,0.023368,0.022916,0.029797,0.028717
Has running hot water with piped gas water heater,0.409460,0.444087,0.477786,0.503741,0.533642,0.555218,0.573038,0.652579
"Has running hot water, heated directly with a solar hot water system",0.000758,0.000214,0.001027,0.000779,0.001209,0.001657,0.000363,0.001625
"Has running hot water, water heater uses other fuel source",0.001948,0.000857,0.001412,0.000935,0.001209,0.002761,0.000363,0.001734
No hot and cold running water,0.005737,0.002999,0.001926,0.001403,0.001007,0.000828,0.001090,0.000542

In [18]:
income_bins1 = [0, 10000, 15000, 25000, 35000, 50000, 75000, 100000, 150000, 200000, float('inf')]

In [88]:
ahs_household_df = pd.read_csv('ahs_households_by_income_and_region.csv', index_col=['division'])

In [89]:
ahs_household_df

,income $0-20000,income $20000-40000,income $40000-60000,income $60000-80000,income $80000-100000,income $100000-120000,income $120000-inf
division,,,,,,,
New England,886000,926000,739000,672000,555000,431000,1737000
Middle Atlantic,2565000,2525000,2491000,2005000,1544000,1176000,3814000
East North Central,3098000,3339000,2992000,2403000,1955000,1358000,3497000
West North Central,1263000,1539000,1391000,1137000,775000,707000,1891000
South Atlantic,4213000,4407000,4006000,3247000,2169000,1772000,4589000
East South Central,1781000,1793000,1194000,956000,639000,479000,916000
West South Central,2794000,2730000,2324000,1914000,1272000,1027000,2517000
Mountain,1576000,1516000,1350000,1309000,942000,769000,1952000
Pacific,2453000,2715000,2450000,2162000,1739000,1476000,5582000

In [67]:
income_bins2 = [0, 20000, 40000, 60000, 80000, 100000, 120000, float('inf')]

In [68]:
analysis_dict2 = conduct_analysis(income_bins2)

In [164]:
# interpolate AHS numbers of households with percentages of people with each kind of appliance in each region

region_dict = {}
for region in analysis_dict2.keys():
    if region == 'National':
        continue
    region_dict[region] = {}
    for mode in analysis_dict2[region].keys():
        mult = analysis_dict2[region][mode][1].to_numpy() * ahs_household_df.loc[[region]].to_numpy()
        mult = pd.DataFrame(mult,
                            index=analysis_dict2[region][mode][1].index,
                            columns=analysis_dict2[region][mode][1].columns)
        mult['Total'] = mult.sum(axis=1)
        region_dict[region][mode] = mult

In [184]:
import csv

for region in region_dict.keys():
    print(region)
    heat_df = region_dict[region]['HEATFUEL']
    heat_df.loc['Electric heat pump'] = region_dict[region]['HEATTYPE'].loc[[" Electric heat pump"]].values[0]
    heat_df.loc['Electric non-heat pump'] = heat_df.loc[[' Electricity']].values[0] - heat_df.loc[['Electric heat pump']].values[0]
    heat_df.loc['Fuel oil/kerosene'] = heat_df.loc[[' Fuel oil']].values[0] + heat_df.loc[[' Kerosene or other liquid fuel']].values[0]
    heat_df.loc['Space heat non-heat pump fraction'] = heat_df.loc[['Electric non-heat pump']].values[0] / heat_df.loc[[' Electricity']].values[0]
    heat_df = heat_df.loc[[' Piped gas',
                           ' LP (liquid petroleum) gas',
                           'Fuel oil/kerosene',
                           ' Electricity',
                           'Electric heat pump',
                           'Electric non-heat pump',
                           'Space heat non-heat pump fraction',
                          ]]
    
    water_df = region_dict[region]['HOTWATER']
    water_df.loc['Electric heat pump'] = water_df.loc[[' Has running hot water with electric water heater']].values[0] * .011
    water_df.loc['Electric non-heat pump'] = water_df.loc[[' Has running hot water with electric water heater']].values[0] * .989
    water_df.loc['Water heat non-heat pump fraction'] = water_df.loc[['Electric non-heat pump']].values[0] / water_df.loc[[' Has running hot water with electric water heater']].values[0]
    try:
        water_df.loc['Fuel oil'] = water_df.loc[[' Has running hot water with fuel oil water heater']].values[0]
    except:
        water_df.loc['Fuel oil'] = [0, 0, 0, 0, 0, 0, 0, 0]
    water_df = water_df.loc[[' Has running hot water with piped gas water heater',
                             ' Has running hot water with LP gas water heater',
                             'Fuel oil',
                             ' Has running hot water with electric water heater',
                             'Electric heat pump',
                             'Electric non-heat pump',
                             'Water heat non-heat pump fraction'
                            ]]
    
    cook_df = region_dict[region]['COOKFUEL'].loc[[' Piped gas',
                                                   ' LP gas (liquid propane)',
                                                   ' Other',
                                                   ' Electric'
                                                  ]]
    
    dryer_df = region_dict[region]['DRYER'].loc[[' Working piped gas powered clothes dryer',
                                                   ' Working LP (liquefied petroleum) gas clothes dryer',
                                                   ' Working electric power clothes dryer'
                                                  ]]
    
    to_csv = ''
    to_csv += heat_df.to_csv()
    to_csv += ',,,,,,,,\n,,,,,,,,\n,,,,,,,,\n'
    to_csv += water_df.to_csv(header=False)
    to_csv += ',,,,,,,,\n,,,,,,,,\n,,,,,,,,\n'
    to_csv += cook_df.to_csv(header=False)
    to_csv += ',,,,,,,,\n,,,,,,,,\n,,,,,,,,\n'
    to_csv += dryer_df.to_csv(header=False)
    
    with open(f'./output/{region[1:]}.csv', "wt") as file:
        file.write(to_csv)

 New England
 Middle Atlantic
 East North Central
 West North Central
 South Atlantic
 East South Central
 West South Central
 Mountain
 Pacific